/* color theme for the design */
:root {
  --midnight-purple: #2E1760;
  --purple: #5820B4;
  --light-purple:#AA76FF;
  --white: #ffffff;
  --gray: #1F1A2A;

  --bs-secondary-color:#2E1760;
  --bs-primary: #5820B4;
  --bs-primary-text-emphasis:#AA76FF;
  --bs-emphasis-color:#fff;
  --bs-tertiary-color: #1F1A2A;
}

::selection{
    background-color: var(--bs-primary);
}

*{
    box-sizing: border-box;
}



body{
    color: var(--bs-emphasis-color);
    background: linear-gradient(180deg, rgba(57,15,149,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%);
    font-family: 'Jost', sans-serif;
    line-height: 1.4;
   
}

/* styles for headings */
h1, h2{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 0px 0px 20px #8032FF, 0px 0px 20px #8032FF;
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin:2rem 0;
    font-weight: bolder;
    position: relative;
    z-index: 1;
    

}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

h1:before, h2:before{
    position: absolute;
    content:'';
    left:0;
    bottom:-20px;
    
    width: 100px;
    height:10px;
    background-color:var(--bs-primary);

    
}

/* Navbar styling */
.navbar-scrolled{
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 20px var(--bs-secondary-color);
}

.navbar{
    transition: all 0.5s;
    
}

nav ul li{
    padding:0 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight:40s0;
}

.logo{
    max-width:200px;
   
}

.nav-link{
    position: relative;
    color: var(--bs-emphasis-color);
}

.nav-link:hover{
    color: var(--bs-emphasis-color);
}

.nav-link::after{
    content: '';
    height:2px;
    width: 0;
    position: absolute;
    background-color: var(--bs-primary-text-emphasis);
    bottom:0;
    left:0;
    transition: width .5s ease;
}

.nav-link:hover::after{
    width: 100%;
  
}

.nav-link:active::after{
    width: 100%;
}


/* banner styles */
.banner-content{   
    padding: 9rem 0;
} 

.banner{
    background-image:url(../images/banner-img.jpg) ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:3rem;
    position: relative;
}

.banner-content p{
    max-width: 570px;
    padding-bottom:4rem;
    position: relative;
}

.skip-links{
    text-decoration: none;
    color:var(--bs-primary-text-emphasis);
    z-index: 3;
}


h2{
    text-align: left;
    font-size: 3rem;
}

img{
    width: 100%;
}

.button{
    display: inline-block;
    border: 1.5px solid var(--bs-primary);
    padding:.5rem 1rem;
    color:white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.button span {
    position: relative;
    z-index: 3;
}

.button::after{
    
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:-130px;
    clip-path: polygon(0 0, 100% 0, 65% 100%, 0% 100%);
    background-color: var(--bs-primary);
    transition: width 0.7s ease-out;
}

.button:hover::after{
   width:400%;
}

.button:focus::after{
    width:400%;
 }
 
/* scroll button */
.scroll-link{
    color: var(--bs-emphasis-color);
    text-decoration: none;
}

.scrolling-button{
    position: absolute;
    left:48%;
    top:580px;
    
    justify-content:center;
    align-items:center;

}
  
.scrolling-button-container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:repeat(1,1fr);
    
}
  
@keyframes move{
    0%{
      transform:translatey(0) scale(1);
      opacity:1;
    }
    100%{
      transform:translatey(40px) scale(0.8);
      opacity:0;
      
    }
}
  
.move-arrow{
    animation:move 1.5s linear infinite;
    z-index:10;
    grid-column:1/2;
    grid-row:1/2;
}
  
.scroll-down{
    grid-column:1/2;
    grid-row:1/2;
}
  
.material-symbols-outlined{
    font-size:5rem;
}

/* service styles */

.services {
    margin-bottom: 3rem;
}

.service-card{
    
    background: linear-gradient(180deg, #2E1760 0%, rgba(0, 0, 0,0) 100%);
    padding:1rem;
    min-height: 300px;
    transition:  0.3s ease-in;
    
}

.service-card:hover{
    filter: brightness(1.5);
   
}

.service-card p{
    max-width: 250px;
}

.service-card img{
    width: 50%;
}

/* project */
.for-scroll{
    position: relative;
    overflow: hidden;
}

.project-card img{
    width: 70%;
}


.project-card .movie-poster{
    width: 60%;
}

/* scrolling text */

.text-scroll{
    font-family: 'Oswald', sans-serif;
    position: absolute;
    z-index: -1;
    white-space: nowrap;
    color: var(--bs-tertiary-color);
    width: 100%;
    animation: scroll 25s infinite linear alternate;
    
}

@keyframes scroll{
    from {
        left: 0;
      }
      to {
        left: -1000px;
      }
}

.text-scroll-1{
    top:100px;
    font-size: 8rem;
}

.text-scroll-2{
    top:550px;
    font-size: 8rem;
}

.text-scroll-3{
    top:950px;
    font-size: 8rem;
}


/* back to top */
.top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border: 1px solid var(--bs-primary);
    padding: 0.3rem 0.5rem 0 0.5rem;
    display: none;
    transition: all 1s ease;
}

.top-button.active{
    display:block;
}

.top-button:hover{
    background-color: var(--bs-primary);
    transition: background-color 1s;
}

.back-to-top{
    color: aliceblue;

}

/* footer styles */
.logo-footer{
    width: 20%;
}

footer p{
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top:1rem;
}

footer{
    margin:2rem 0;
}

footer a{
    text-decoration: none;
    color:var(--bs-emphasis-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* media query */
@media (min-width: 992px){
    .projects{
        margin-bottom: 5rem;
    }

    .project-card p{
        display: none;
        position: absolute;
    
        margin-left: auto;
        margin-right: auto;
        bottom: -30px;  
        left: 50%; 

        transform: translateX(-50%); 
       
    }

    .project-card{
        position: relative;
        
    }


    .project-card img{
        transition: all .5s;
        border: 7px solid transparent;
        
    }

    .project-card h3{
        display: none;
        font-size: 2.5rem;
        
    }
    

    .project-card:hover img{
        -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.3));
        border: 7px solid var(--bs-primary);
        
    }

    .project-card:hover h3{
        display: block;
        position: absolute;
        top: 50px;
        left:0px;
    }

    .project-card:hover p{
        display: block;
        
    }

    /* scrolling text */
    .text-scroll-1{
        top:60px;
        font-size: 15rem;
    }

    .text-scroll-2{
        top:500px;
        font-size: 15rem;
    }

    .text-scroll-3{
        top:970px;
        font-size: 15rem;
    }


}